*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 138, 235);
}
.header{
    height: 20vh;
    width: 90%;
    display: flex;
    align-items: center;
    &__add-btn{
        background-color: rgb(34, 138, 235);
        border: none;
        width: 70px;
    }
    &__add-icon{
        width: 40px;
        pointer-events: none;
    }
}
.main{
    width: 90%;
    min-height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--unactive{
        display: none;
    }
}
.form-container{
    width: 90%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        height: 10%;
    }
    &__form{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__label{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #acacac;
    }
    &--unactive{
        display: none;
    }
}